extends layout
block content
    h1 Welcome all comments
    ol
        each comment in comments
            li #{comment.commentName}
            h1 #{comment.commentContent}
            h2 #{comment.user.username}' tarafından yorum yapıldı

    