/* All a tags will be this color */
a, 
.green {
  text-decoration: none;
  color: rgb(226, 131, 15);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}